<h1>What hobbies would you like to have?</h1>

<div class="answers-c">
  <ul class="answers">
    <li ng-repeat="answer in questions[0].answers">
      <input type="{{ questions[0].type }}" name="answer-hobby" id="answer-{{ answer.name }}" ng-modal="answer.name" />
      <label for="answer-{{ answer.name }}">{{ answer.label }}</label>
    </li>
  </ul>
</div>

<a href="#ages" ng-click="goBack()" class="btn btn-default btn-lg">Previous</a>
<a href="#food" ng-click="goNext()" class="btn btn-primary btn-lg">Next</a>