<h1>Summary</h1>

<div class="panel panel-default">

  <table class="table">
  	<tbody>
  		<tr ng-repeat= "category in summary">
  			<td class="category-name">{{ category.label }}</td>

  			<td class="input-group input-group-sm">
  			  <span class="input-group-addon">$</span>
  			  <input type="text" class="form-control" ng-model="category.price">
  			  <span class="input-group-addon">.00</span>
  			</td>
  		</tr>

  		<tr class="total">
  			<td class="category-name">Total Amount:</td>
  			<td>{{ total() }}</td>
  		</tr>
  	</tbody>
  </table>
</div>


<a href="#hobby" ng-click="goBack()" class="btn btn-primary btn-lg">Previous</a>
<!-- <a href="#summary" ng-click="goNext()" class="btn btn-primary btn-lg">Next</a> -->