<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Summary</div>
  <div class="panel-body">
    <p>Add Context Here</p>
  </div>

  <table class="table">
	<tbody>
		<tr ng-repeat= "category in categories">
			<td class="category-name">
				{{category.name}}
			</td>

			<td class="input-group">
			  <span class="input-group-addon">$</span>
			  <input type="text" class="form-control" ng-model="category.value">
			  <span class="input-group-addon">.00</span>
			</td>
		</tr>

		<tr>
			<td>
				Total Amount:
			</td>
			<td>
				{{total()}}
			</td>
		</tr>
	</tbody>
</table>
</div>


<a href="#hobby" ng-click="goBack()" class="btn btn-primary btn-lg">Previous</a>
<!-- <a href="#summary" ng-click="goNext()" class="btn btn-primary btn-lg">Next</a> -->